In [1]:
import numpy as np
import pandas as pd 
from bs4 import BeautifulSoup
import re

In [2]:
df = pd.read_csv('/Users/anthonyvincent/Downloads/iphone14-query-tweets.csv.zip')

In [3]:
df.head() #showing the data

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text
0,2022-09-08 22:49:29+00:00,TheAppleGang101,NaN,A new account dedicated to all of the latest l...,False,10,28,0,0,0,"<a href=""http://twitter.com/#!/download/ipad"" ...",iPhone SE 3 gets more expensive in the UK afte...
1,2022-09-08 22:49:27+00:00,TheJessicats,1999,Tweet like nobody‚Äôs reading ‚Ä¢ standup comedian...,False,1642,1444,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@Travon I hope it happens before my iPhone 14 ...
2,2022-09-08 22:49:16+00:00,itschefnotjeff,üìå mom's basement,üë®üèΩ‚Äçüíªüí≥üé´‚úàÔ∏è,False,77,87,0,0,0,"<a href=""http://twitter.com/download/android"" ...","Nah iphone 14 upgrade just not it, change my m..."
3,2022-09-08 22:49:09+00:00,HalfRonin,Between the darkness and light,Preferring to be the dumbest person in the roo...,False,549,717,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",To the shock of absolutely no one: \n\nApple: ...
4,2022-09-08 22:49:09+00:00,Deejayrayman,Texas,Father of 3. Follower of Christ. Lover of all ...,False,48,153,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@TMobile @TMobileHelp will you be able to orde...

In [4]:
df.info() #display info about pandas data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144245 entries, 0 to 144244
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date_time            144245 non-null  object
 1   username             144245 non-null  object
 2   user_location        97925 non-null   object
 3   user_description     127678 non-null  object
 4   verified             144245 non-null  bool
 5   followers_count      144245 non-null  int64
 6   following_count      144245 non-null  int64
 7   tweet_like_count     144245 non-null  int64
 8   tweet_retweet_count  144245 non-null  int64
 9   tweet_reply_count    144245 non-null  int64
 10  source               144245 non-null  object
 11  tweet_text           144245 non-null  object
dtypes: bool(1), int64(5), object(6)
memory usage: 12.2+ MB

In [5]:
df.tweet_text #access the column name tweet_text and display info of pandas datafram

0         iPhone SE 3 gets more expensive in the UK afte...
1         @Travon I hope it happens before my iPhone 14 ...
2         Nah iphone 14 upgrade just not it, change my m...
3         To the shock of absolutely no one: \n\nApple: ...
4         @TMobile @TMobileHelp will you be able to orde...
                                ...
144240    iPhone 14 ENTIRE Lineup Early Look - https://t...
144241    iPhone 14 strength will battle weak consumer s...
144242    @robertrosenfeld My Pixel 4's battery, never t...
144243    i don‚Äôt understand people who buy every new ip...
144244    iPhone 14 Series Could Cost $100 Higher Than i...
Name: tweet_text, Length: 144245, dtype: object

In [6]:
df["clean_tweet_text"] = df["tweet_text"].replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)
df[["tweet_text","clean_tweet_text"]].iloc[94807]
# creates new column, use replacve to generate new column values, cleans up tweet_text column data

tweet_text          ‚ñ´Ô∏è According to recent reports, Apple may anno...
clean_tweet_text    ‚ñ´Ô∏è According to recent reports, Apple may anno...
Name: 94807, dtype: object

In [7]:
df.head(5) #show data

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text,clean_tweet_text
0,2022-09-08 22:49:29+00:00,TheAppleGang101,NaN,A new account dedicated to all of the latest l...,False,10,28,0,0,0,"<a href=""http://twitter.com/#!/download/ipad"" ...",iPhone SE 3 gets more expensive in the UK afte...,iPhone SE 3 gets more expensive in the UK afte...
1,2022-09-08 22:49:27+00:00,TheJessicats,1999,Tweet like nobody‚Äôs reading ‚Ä¢ standup comedian...,False,1642,1444,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@Travon I hope it happens before my iPhone 14 ...,@Travon I hope it happens before my iPhone 14 ...
2,2022-09-08 22:49:16+00:00,itschefnotjeff,üìå mom's basement,üë®üèΩ‚Äçüíªüí≥üé´‚úàÔ∏è,False,77,87,0,0,0,"<a href=""http://twitter.com/download/android"" ...","Nah iphone 14 upgrade just not it, change my m...","Nah iphone 14 upgrade just not it, change my m..."
3,2022-09-08 22:49:09+00:00,HalfRonin,Between the darkness and light,Preferring to be the dumbest person in the roo...,False,549,717,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",To the shock of absolutely no one: \n\nApple: ...,To the shock of absolutely no one: \n\nApple: ...
4,2022-09-08 22:49:09+00:00,Deejayrayman,Texas,Father of 3. Follower of Christ. Lover of all ...,False,48,153,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@TMobile @TMobileHelp will you be able to orde...,@TMobile @TMobileHelp will you be able to orde...

In [8]:
df["clean_tweet_text"].replace(r'\d+', ' ', regex = True, inplace = True)
df[["tweet_text","clean_tweet_text"]] # show cleaned data

,tweet_text,clean_tweet_text
0,iPhone SE 3 gets more expensive in the UK afte...,iPhone SE gets more expensive in the UK afte...
1,@Travon I hope it happens before my iPhone 14 ...,@Travon I hope it happens before my iPhone a...
2,"Nah iphone 14 upgrade just not it, change my m...","Nah iphone upgrade just not it, change my mind."
3,To the shock of absolutely no one: \n\nApple: ...,To the shock of absolutely no one: \n\nApple: ...
4,@TMobile @TMobileHelp will you be able to orde...,@TMobile @TMobileHelp will you be able to orde...
...,...,...
144240,iPhone 14 ENTIRE Lineup Early Look - https://t...,iPhone ENTIRE Lineup Early Look -
144241,iPhone 14 strength will battle weak consumer s...,iPhone strength will battle weak consumer sp...
144242,"@robertrosenfeld My Pixel 4's battery, never t...","@robertrosenfeld My Pixel 's battery, never t..."
144243,i don‚Äôt understand people who buy every new ip...,i don‚Äôt understand people who buy every new ip...
144244,iPhone 14 Series Could Cost $100 Higher Than i...,iPhone Series Could Cost $ Higher Than iPho...

In [9]:
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')
df["clean_tweet_text"] = df["clean_tweet_text"].apply(lambda s: deEmojify(s))
df[['tweet_text','clean_tweet_text']].iloc[12]
#defines function, removes unicode, cleans the tweet_text column, and shows it without the unicodes

tweet_text          Fire Red 3‚Äôs secured. IPhone 14 pro max preord...
clean_tweet_text    Fire Red  s secured. IPhone   pro max preorder...
Name: 12, dtype: object

In [11]:
def rem_en(input_txt):
    words = input_txt.lower().split()
    noise_free_words = [word for word in words if word not in stop] 
    noise_free_text = " ".join(noise_free_words) 
    return noise_free_text

df["clean_tweet_text"] = df["clean_tweet_text"].apply(lambda s: rem_en(s))
df[["tweet_text","clean_tweet_text"]]
#another defined term to clean the tweet_text column and show it next to the original

,tweet_text,clean_tweet_text
0,iPhone SE 3 gets more expensive in the UK afte...,iphone se gets expensive uk iphone event
1,@Travon I hope it happens before my iPhone 14 ...,@travon hope happens iphone arrives.
2,"Nah iphone 14 upgrade just not it, change my m...","nah iphone upgrade it, change mind."
3,To the shock of absolutely no one: \n\nApple: ...,shock absolutely one: apple: ready iphone ? pp...
4,@TMobile @TMobileHelp will you be able to orde...,@tmobile @tmobilehelp able order iphone pro on...
...,...,...
144240,iPhone 14 ENTIRE Lineup Early Look - https://t...,iphone entire lineup early look -
144241,iPhone 14 strength will battle weak consumer s...,iphone strength battle weak consumer spending ...
144242,"@robertrosenfeld My Pixel 4's battery, never t...","@robertrosenfeld pixel 's battery, never great..."
144243,i don‚Äôt understand people who buy every new ip...,dont understand people buy every new iphone do...
144244,iPhone 14 Series Could Cost $100 Higher Than i...,iphone series could cost $ higher iphone

In [12]:
from nltk.tokenize import RegexpTokenizer
tokeniser = RegexpTokenizer(r'\w+')
df["clean_tweet_text"] = df["clean_tweet_text"].apply(lambda x: tokeniser.tokenize(x))
df[["tweet_text","clean_tweet_text"]]

,tweet_text,clean_tweet_text
0,iPhone SE 3 gets more expensive in the UK afte...,"[iphone, se, gets, expensive, uk, iphone, event]"
1,@Travon I hope it happens before my iPhone 14 ...,"[travon, hope, happens, iphone, arrives]"
2,"Nah iphone 14 upgrade just not it, change my m...","[nah, iphone, upgrade, it, change, mind]"
3,To the shock of absolutely no one: \n\nApple: ...,"[shock, absolutely, one, apple, ready, iphone,..."
4,@TMobile @TMobileHelp will you be able to orde...,"[tmobile, tmobilehelp, able, order, iphone, pr..."
...,...,...
144240,iPhone 14 ENTIRE Lineup Early Look - https://t...,"[iphone, entire, lineup, early, look]"
144241,iPhone 14 strength will battle weak consumer s...,"[iphone, strength, battle, weak, consumer, spe..."
144242,"@robertrosenfeld My Pixel 4's battery, never t...","[robertrosenfeld, pixel, s, battery, never, gr..."
144243,i don‚Äôt understand people who buy every new ip...,"[dont, understand, people, buy, every, new, ip..."
144244,iPhone 14 Series Could Cost $100 Higher Than i...,"[iphone, series, could, cost, higher, iphone]"

In [13]:
texts= df["clean_tweet_text"]


texts
#list(myList[0])

words_list = [word for line in list(texts[0]) for word in line.split()]
words_list

['iphone', 'se', 'gets', 'expensive', 'uk', 'iphone', 'event']

In [14]:
words_list[:5]

['iphone', 'se', 'gets', 'expensive', 'uk']

In [15]:
from zipfile import ZipFile
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction import _stop_words
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
import nltk
from nltk import word_tokenize
from nltk.stem.snowball import EnglishStemmer
import matplotlib.pylab as plt
from dmba import printTermDocumentMatrix, classificationSummary, liftChart

nltk.download('punkt')

no display found. Using non-interactive Agg backend

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/anthonyvincent/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
class LemmaTokenizer(object):
    def __init__(self):
        self.stemmer = EnglishStemmer()
        self.stopWords = set(ENGLISH_STOP_WORDS)
        
    def __call__(self, doc):
        return [self.stemmer.stem(t) for t in word_tokenize(doc) 
                if t.isalpha() and t not in self.stopWords]
#defines LemmaTokenizer, uses text analysis for this function, initializes english stemmer
#defines a call method and uses the nltk library
#stemming to each token applied

In [17]:
count_vect = CountVectorizer(tokenizer=LemmaTokenizer())
counts = count_vect.fit_transform(list(texts[0]))

printTermDocumentMatrix(count_vect, counts)
#sets a countvecotrizes and through pre-processing the texts occurance numbers will be counted and displayed

        S1  S2  S3  S4  S5  S6  S7
event    0   0   0   0   0   0   1
expens   0   0   0   1   0   0   0
get      0   0   1   0   0   0   0
iphon    1   0   0   0   0   1   0
se       0   1   0   0   0   0   0
uk       0   0   0   0   1   0   0

In [ ]:
#rest of the data did not work so I switched to another document!!!

In [19]:
positive_words = ["amazing", "appreciate", "awesome", "beautiful", "best", "brilliant", "celebrate", "cheer", "cool",
                  "delicious", "eager", "enjoy", "fortunate", "fun", "glad", "good", "happy", "kind","love", "merry", "nice",
                  "pleasant", "polite", "praise", "relax", "Sweet", "top-notch", "win", "yay"]

negative_words = ["aggressive", "anger", "annoy", "bad", "bloody", "bored", "careless", "cocky", "death", "defy", "denial",
                  "detest", "dirty", "error", "fail", "guilt", "hate", "haunt", "idiot", "implode", "inhumane", "insult",
                  "irritate", "lousy", "mad", "outrage", "poor", "refute", "sad", "sick", "strict", "stuck", "unequal",
                  "waste", "wrong"]

In [62]:
for tweet in df['tweet_text']:
    tokens = tweet.split()
    positive_words = []
    for token in tokens:
        if token.lower() in p_words:
            positive_words.append(token)
    print(positive_words)

[]
[]
[]

In [75]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [ ]:
sia = SentimentIntensityAnalyzer()

In [70]:
positive_words = df['tweet_text'].apply(lambda x: [word for word in nltk.word_tokenize(x.lower()) if word.isalpha()])

In [67]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = set(stopwords.words('english'))
print(stop)

{'be', 'then', 'an', 'yourselves', 'he', 'have', "couldn't", 'ourselves', 'you', 'and', 'once', 'been', 'was', 'i', 'll', 'won', 'has', 'during', "aren't", 'them', 'had', 'me', "she's", "isn't", 'don', 'the', 'should', 'than', 'why', 'will', 'am', 'being', 'they', 'about', 'herself', 'this', 'ain', 'his', 'before', "that'll", 'isn', 'm', 'under', 'most', 's', 'of', 'same', 't', 'were', 'between', 'up', 'hers', 'below', 'at', 'she', 'itself', 'how', 'hasn', "haven't", 'in', 'yours', 've', 'down', 'wasn', 'other', "didn't", 'ma', 'him', "hasn't", 're', "mightn't", 'what', "don't", 'mustn', 'few', "wouldn't", "it's", 'further', 'nor', 'are', 'do', 'ours', 'her', 'too', 'our', 'through', 'we', 'out', 'hadn', 'all', 'yourself', 'more', 'so', 'can', 'but', "won't", 'shouldn', 'such', "you'd", 'a', 'off', 'didn', 'until', 'it', 'only', 'o', 'on', "you're", 'again', 'which', 'each', 'aren', 'these', 'wouldn', 'doing', 'because', 'against', 'there', 'when', 'into', 'y', 'to', 'shan', 'above', 'both', 'your', 'couldn', 'with', 'very', 'not', 'having', 'from', 'd', 'or', 'did', 'as', 'myself', "you'll", 'while', 'its', 'no', 'himself', 'their', 'my', 'needn', "wasn't", "needn't", 'themselves', 'whom', "mustn't", 'is', "weren't", 'does', 'if', 'here', 'some', 'who', 'weren', 'any', 'just', 'haven', 'theirs', 'now', 'that', 'for', "doesn't", 'mightn', 'by', 'over', 'those', 'after', "should've", "shouldn't", "hadn't", "shan't", "you've", 'doesn', 'where', 'own'}

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/anthonyvincent/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
text = df["tweet_text"]
tokeniser = RegexpTokenizer(r'\w+')

In [63]:
#Remove stop words
stopWords = list(sorted(ENGLISH_STOP_WORDS))

In [22]:
df.dropna(inplace=True)

In [23]:
df['tweet_text'] = pd.to_numeric(df['tweet_text'], errors = 'coerce')

In [24]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/anthonyvincent/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/anthonyvincent/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
df = pd.read_csv('/Users/anthonyvincent/Downloads/iphone14-query-tweets.csv.zip')
df.head()

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text
0,2022-09-08 22:49:29+00:00,TheAppleGang101,NaN,A new account dedicated to all of the latest l...,False,10,28,0,0,0,"<a href=""http://twitter.com/#!/download/ipad"" ...",iPhone SE 3 gets more expensive in the UK afte...
1,2022-09-08 22:49:27+00:00,TheJessicats,1999,Tweet like nobody‚Äôs reading ‚Ä¢ standup comedian...,False,1642,1444,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@Travon I hope it happens before my iPhone 14 ...
2,2022-09-08 22:49:16+00:00,itschefnotjeff,üìå mom's basement,üë®üèΩ‚Äçüíªüí≥üé´‚úàÔ∏è,False,77,87,0,0,0,"<a href=""http://twitter.com/download/android"" ...","Nah iphone 14 upgrade just not it, change my m..."
3,2022-09-08 22:49:09+00:00,HalfRonin,Between the darkness and light,Preferring to be the dumbest person in the roo...,False,549,717,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",To the shock of absolutely no one: \n\nApple: ...
4,2022-09-08 22:49:09+00:00,Deejayrayman,Texas,Father of 3. Follower of Christ. Lover of all ...,False,48,153,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@TMobile @TMobileHelp will you be able to orde...

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144245 entries, 0 to 144244
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date_time            144245 non-null  object
 1   username             144245 non-null  object
 2   user_location        97925 non-null   object
 3   user_description     127678 non-null  object
 4   verified             144245 non-null  bool
 5   followers_count      144245 non-null  int64
 6   following_count      144245 non-null  int64
 7   tweet_like_count     144245 non-null  int64
 8   tweet_retweet_count  144245 non-null  int64
 9   tweet_reply_count    144245 non-null  int64
 10  source               144245 non-null  object
 11  tweet_text           144245 non-null  object
dtypes: bool(1), int64(5), object(6)
memory usage: 12.2+ MB

In [27]:
df.dropna(inplace=True)

In [28]:
#1,2,3->negative(i.e 0)
df.loc[df['tweet_like_count'] <= 3,'tweet_like_count'] = 0
 
#4,5->positive(i.e 1)
df.loc[df['tweet_like_count'] > 3,'tweet_like_count'] = 1

In [29]:
stp_words=stopwords.words('english')

def clean_review(review):
    if isinstance(review, str):
        cleanreview=" ".join(word for word in review.split() if word not in stp_words)
        return cleanreview
    else:
        return review 
    
df['tweet_text']=df['tweet_text'].apply(clean_review)

In [30]:
df.head()

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text
1,2022-09-08 22:49:27+00:00,TheJessicats,1999,Tweet like nobody‚Äôs reading ‚Ä¢ standup comedian...,False,1642,1444,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@Travon I hope happens iPhone 14 arrives.
2,2022-09-08 22:49:16+00:00,itschefnotjeff,üìå mom's basement,üë®üèΩ‚Äçüíªüí≥üé´‚úàÔ∏è,False,77,87,0,0,0,"<a href=""http://twitter.com/download/android"" ...","Nah iphone 14 upgrade it, change mind."
3,2022-09-08 22:49:09+00:00,HalfRonin,Between the darkness and light,Preferring to be the dumbest person in the roo...,False,549,717,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",To shock absolutely one: Apple: Ready iPhone 1...
4,2022-09-08 22:49:09+00:00,Deejayrayman,Texas,Father of 3. Follower of Christ. Lover of all ...,False,48,153,0,0,0,"<a href=""http://twitter.com/download/iphone"" r...",@TMobile @TMobileHelp able order iPhone 14 Pro...
5,2022-09-08 22:48:54+00:00,TheGalox_,Hello!,"The latest Tech, Aviation, Gaming and Car news...",False,30309,193,0,0,0,"<a href=""http://twitter.com/download/android"" ...",China's four major carriers support US version...

In [31]:
#HELPFUL INFORMATION ON THE NUMBER OF LIKES A TWEET GETS

In [32]:
df['tweet_like_count'].value_counts()

0    77758
1    14601
Name: tweet_like_count, dtype: int64

In [33]:
df['tweet_retweet_count'].value_counts()

0       77951
1        6346
2        2128
3        1123
4         686
        ...
3332        1
575         1
111         1
2455        1
581         1
Name: tweet_retweet_count, Length: 390, dtype: int64

In [34]:
df['tweet_text'].value_counts()

iPhone 14                                                                                                                                                                           77
@thesmiyo iPhone 14                                                                                                                                                                 27
$1400 iPhone 14? shit better play dead Bitch touch                                                                                                                                  22
iPhone 14 cost $1,500 better autocorrect lies truth                                                                                                                                 21
Iphone 14                                                                                                                                                                           18
                                                                                                                                                                                    ..
It hit I started watching Apple events back 2016 launch iPhone 7. That back 6S still new. I'm seriously considering 14 pro max next year. It depends Google announces next month     1
Why I looking iPhone 14? üòÇüòÇüòÇ                                                                                                                                                         1
iPhone 14 I wait next year sha‚Ä¶ I buy iPhone 15 #AppleEvent                                                                                                                          1
@ryfeb13 iphone 14 calling ur name                                                                                                                                                   1
don‚Äôt understand people buy every new iphone don‚Äôt exact ios software.. like difference iphone 13 14                                                                                 1
Name: tweet_text, Length: 91116, dtype: int64

tweets that are liked by customers show a positve correlation or meaningful message?

In [37]:
consolidated=' '.join(word for word in df['tweet_text'][df['tweet_like_count']==0].astype(str))
wordCloud=WordCloud(width=1600,height=800,random_state=21,max_font_size=110)
plt.figure(figsize=(15,10))
plt.imshow(wordCloud.generate(consolidated),interpolation='bilinear')
plt.axis('off')
plt.show()

In [38]:
consolidated=' '.join(word for word in df['tweet_text'][df['tweet_like_count']==1].astype(str))
wordCloud=WordCloud(width=1600,height=800,random_state=21,max_font_size=110)
plt.figure(figsize=(15,10))
plt.imshow(wordCloud.generate(consolidated),interpolation='bilinear')
plt.axis('off')
plt.show()

In [ ]:
why no image???

TF-IDF calculates that how relevant a word in a series or corpus is to a text. The meaning increases proportionally to the number of times in the text a word appears but is compensated by the word frequency in the corpus (data-set). We will be implementing this with the code below.

In [ ]:
df['tweet_text'] = df['tweet_text'].astype(str)

In [ ]:
cv = TfidfVectorizer(max_features=2500)
X = cv.fit_transform(df['tweet_text'] ).toarray()

In [ ]:
from sklearn.model_selection import train_test_split
x_train ,x_test,y_train,y_test=train_test_split(X,df['tweet_like_count'],
                                                test_size=0.25 ,
                                                random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model=LogisticRegression()
 
#Model fitting
model.fit(x_train,y_train)
 
#testing the model
pred=model.predict(x_test)
 
#model accuracy
print(accuracy_score(y_test,pred))

In [ ]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,pred)
 
cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix = cm,
                                            display_labels = [False, True])
 
cm_display.plot()
plt.show()

In [ ]:
why no image???

POSITIVE AND NEGATIVE WORDS

In [64]:
positive_words = []
with open('positive_words.txt', 'r') as f:
    for line in f 
    positive_words.append(line.strip)
    
def extract_positve_words(tweet_text)

SyntaxError: invalid syntax (1485801675.py, line 3)

In [58]:
df["tweet_text"].value_counts()

this is the first tweet     1
this is the second tweet    1
this is the third tweet     1
Name: tweet_text, dtype: int64